.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

@keyframes v-fade-in {
    0% { opacity: 0 }
    1000% { opacity: 1 }
}

.v-fade-in {
    animation: v-fade-in 0.5s forwards;
}