:root {
    --p-avatar-width: 1rem;
    --p-avatar-height: 1rem;
    --p-avatar-font-size: 0.75rem;
    --p-avatar-background: var(--background-base-lower);
    --p-avatar-color: var(--text-default);
    --p-avatar-border-radius: var(--radius-sm);
    --p-avatar-icon-size: 0.625rem;

    --p-avatar-lg-width: 2rem;
    --p-avatar-lg-height: 2rem;
    --p-avatar-lg-font-size: 1rem;
    --p-avatar-lg-icon-size: 1rem;

    --p-avatar-xl-width: 3rem;
    --p-avatar-xl-height: 3rem;
    --p-avatar-xl-font-size: 1rem;
    --p-avatar-xl-icon-size: 1.75rem;
}

.p-avatar img {
    object-fit: cover;
}

.p-avatar-full {
    --p-avatar-width: 100%;
    --p-avatar-height: 100%;
}

.p-avatar-chat {
    --p-avatar-background: var(--background-base-lowest);
    --p-avatar-width: 2.5rem;
    --p-avatar-height: 2.5rem;
    --p-avatar-icon-size: 1.25rem;
}

.p-avatar-chat-blob {
    --p-avatar-background: var(--text-default);
    --p-avatar-width: 2.5rem;
    --p-avatar-height: 2.5rem;
    opacity: 0.06;
}