.p-chattimeline {
    color: var(--text-default);
    padding: 1px 0;
    margin: -1px 0;
    height: 100%;
    overflow: hidden;

    > .p-scrollpanel {
        height: 100%;
    }
}

.p-chattimeline-scroll-content-container {
    display: flow-root;
}

.p-chattimeline-scroll-content-sizer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.p-chattimeline-event {
    --p-chattimeline-event-background: transparent;

    background: var(--p-chattimeline-event-background);
    position: relative;
    padding: 0.125rem 1.5rem 0.125rem 4.5rem;
    line-height: 1.375rem;

    &.p-chattimeline-event--hover,
    &:hover {
        --p-chattimeline-event-background: var(--background-mod-subtle);

        .p-chattimeline-asidetime {
            visibility: visible;
        }
    }

    time {
        display: inline;
        color: var(--channels-default);
        font-size: 0.75rem;
        margin-left: 0.25rem;
        line-height: 1rem;
    }

    .p-avatar-chat, .p-avatar-chat-blob {
        position: absolute;
        left: 1rem;
        top: 0.25rem;
    }
}

.p-chattimeline-event--flash {
    @keyframes p-chattimeline-event-flash {
        0% { 
            background: var(--p-chattimeline-event-background);
        }
        20% {
            background: var(--message-highlight-background-default);
        }
        80% {
            background: var(--message-highlight-background-default);
        }
        100% {
            background: var(--p-chattimeline-event-background);
        }
    }

    animation: p-chattimeline-event-flash 2.5s forwards;
}

.p-chattimeline-event--reference {
    background: var(--message-highlight-background-default);
}

.p-chattimeline-replyto {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    overflow: hidden;
    color: var(--text-strong);
    height: 1.25rem;
    margin: 0 0 0.25rem 0;
    text-overflow: ellipsis;

    .p-chattimeline-replyto-spine {
        position: absolute;
        left: 2.25rem;
        top: 0.6875rem;
        width: 1.9375rem;
        height: 0.8125rem;
        border-style: solid;
        border-inline-start-width: 0.125rem;
        border-block-start-width: 0.125rem;
        border-color: var(--spine-default);
        border-start-start-radius: 0.375rem;
        cursor: pointer;
    }

    &:hover .p-chattimeline-replyto-spine {
        border-color: var(--interactive-text-default);
    }

    > .link {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        gap: 0.25rem;
        color: var(--text-strong);

        span {
            opacity: 0.65;
        }
    }

    > span[role="button"] {
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
        flex-shrink: 0;
        cursor: pointer;
        user-select: none;
    }

    ~ .p-avatar-chat {
        top: 1.75rem;
    }

    ~ .p-chattimeline-event-content > .p-chattimeline-event-content-formatted > blockquote:first-child {
        display: none;
    }
}

.p-chattimeline-asidetime {
    visibility: hidden;
    position: absolute;
    left: 2rem;
    top: 0.3125rem;
    margin: 0;
    transform: translateX(-50%);
    user-select: none;
}

.p-chattimeline-event-header {
    white-space: break-spaces;

    a[href], .link {
        color: var(--text-strong);
        font-weight: 500;
    }

    time {
        margin-left: 0.5rem;
    }

    .p-chattimeline-blob {
        opacity: 0.171272;
        margin: 0.25rem 0 0 0;
    }
}

.p-chattimeline-event.p-chattimeline-event--groupstart {
    margin-top: 1.0625rem;
}

.p-chattimeline-event-icon {
    position: absolute;
    left: 1.75rem;
    top: 0.3125rem;
}

.p-chattimeline-event-settings {
    color: var(--channels-default);

    strong {
        color: var(--text-strong);

        a[href], .link {
            color: var(--text-strong);
        }
    }
}

.p-chattimeline-event-reaction {
    display: flex;
    align-items: center;
    padding: 0.125rem 0.375rem;
    margin: 0 0.25rem 0.25rem 0;
    background: var(--background-mod-subtle);
    border: 0.0625rem solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    user-select: none;

    img {
        text-indent: -9999px;
        width: 1.25rem;
        height: 1.25rem;
        margin: 0;
        object-fit: contain;
        overflow: hidden;
        pointer-events: none;
    }

    &:hover {
        background-color: var(--background-mod-normal);
        border-color: var(--border-muted);
    }
}

.p-chattimeline-event-reaction-count {
    min-width: 0.75rem;
    font-weight: 600;
    margin-left: 0.25rem;
    text-align: center;
}

.p-chattimeline-event-reaction--self {
    background: var(--message-reacted-background-default);
    border-color: var(--blurple-50);

    &:hover {
        background: var(--message-reacted-background-default);
        border-color: var(--blurple-50);
    }

    .p-chattimeline-event-reaction-count {
        color: var(--message-reacted-text-default);
    }
}

.p-chattimeline-edited {
    margin-top: 0.1875rem;
    color: var(--chat-text-muted);
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1;
    user-select: none;
}
.p-chattimeline-event-header ~ .p-chattimeline-event-content .p-chattimeline-edited {
    margin-top: 0.3125rem;
}

.p-chattimeline-date-heading {
    position: relative;
    height: 0px;
    border-top: 1px solid var(--border-subtle);
    margin: 1.5rem 1rem;

    time {
        background: var(--background-base-lower);
        position: absolute;
        top: -0.5625rem;
        left: 50%;
        color: var(--text-muted);
        font-size: 0.75rem;
        line-height: 0.8125rem;
        padding: 0.125rem 0.25rem;
        transform: translateX(-50%);
    }

    + .p-chattimeline-event.p-chattimeline-event--groupstart {
        margin-top: 0;
    }
}

.p-chattimeline-new-divider {
    position: relative;
    margin: 0.25rem 0.875rem 0.25rem 1rem;
    border-top: 1px solid var(--background-feedback-notification);
    text-transform: uppercase;
}

.p-chattimeline-new-divider-tag {
    display: flex;
    align-items: center;
    position: absolute;
    top: -0.4375rem;
    right: 0;
    padding: 0 0.25rem 0 0.125rem;
    margin: 0;
    background: var(--background-feedback-notification);
    color: var(--text-strong);
    border-radius: 0 var(--radius-xs) var(--radius-xs) 0;
    line-height: 0.8125rem;
    font-size: 0.625rem;

    &:before {
        display: block;
        content: '';
        width: 0.5625rem;
        height: 0.5625rem;
        background: var(--background-feedback-notification);
        position: absolute;
        transform: rotate(45deg);
        left: -0.3125rem;
        z-index: -1;
    }
}

.p-chattimeline-notice-tag {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    font-size: .8rem;
    font-weight: 600;
    line-height: .9375rem;
    text-indent: 0;
    text-transform: uppercase;
    vertical-align: top;
    background: var(--background-brand);
    color: var(--white);
    position: relative;
    top: 0.1rem;
    margin-inline-start: 0.25rem;
    border-radius: 0.25rem;
    height: 0.9375rem;
    margin-top: 0.2em;
    padding: 0 0.275rem;

    --p-icon-size: 0.625rem;
}

.p-chattimeline-event-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;
    min-height: 1.375rem;
    overflow: hidden;
    white-space: break-spaces;

    .p-chattimeline-event-content-formatted {
        white-space: normal;
    }

    img[data-mx-emoticon] {
        display: inline;
        text-indent: -9999px;
        height: var(--custom-emoji-size-emoji);
        vertical-align: top;
    }

    span[data-mx-spoiler] {
        background: var(--spoiler-background-color);
        border-radius: var(--radius-xs);
        color: transparent;
        cursor: pointer;

        * {
            visibility: hidden;
        }

        &:hover {
            background: var(--spoiler-background-color-hover);
        }

        &[aria-expanded="true"] {
            background: var(--spoiler-background-color-revealed) !important;
            color: inherit;

            * {
                visibility: visible;
            }

            cursor: default;
        }
    }

    ul {
        display: block;
        list-style: disc;
        padding: 0 0 0 1.5rem;
        line-height: 1.2;
        margin: 0;
        white-space-collapse: collapse;

        li {
            display: list-item;
            margin: 0;
            white-space: break-spaces;
        }
    }
    ol {
        display: block;
        list-style: decimal;
        padding: 0 0 0 1.5rem;
        line-height: 1.2;
        margin: 0;
        white-space-collapse: collapse;

        li {
            display: list-item;
            margin: 0;
            white-space: break-spaces;
        }
    }

    blockquote {
        display: block;
        flex-direction: column;
        position: relative;
        padding-inline: 1rem 0.5rem;
        padding-block: 0;
        color: var(--text-subtle);
        width: 100%;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background: var(--spine-default);
            border-radius: 0.25rem;
            width: 0.25rem;
        }
    }

    code {
        margin: 0.375rem 0 0 0;
        background: var(--background-code);
        border: 1px solid var(--border-normal);
        color: var(--text-default);
        font-size: 0.875rem;
        line-height: 1.125rem;
        text-indent: 0;
        white-space: pre-wrap;
        border-radius: 4px;
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        text-size-adjust: none;
    }

    .p-chattimeline-event-jumbo-emoji {
        height: var(--custom-emoji-size-jumbo-emoji);
        min-height: var(--custom-emoji-size-jumbo-emoji);
        width: var(--custom-emoji-size-jumbo-emoji);
        margin: 0.125rem 0;
    }
}
.p-chattimeline-event--sending .p-chattimeline-event-content {
    color: var(--channels-default);
}

.p-chattimeline-event-audio {
    display: flex;
    background-color: var(--background-base-lower);
    border: 1px solid var(--border-subtle);
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    overflow: visible;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 27rem;

    audio {
        background: black;
        color: white;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        width: 100%;
    }
}

.p-chattimeline-event-file {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background-surface-high);
    border: 1px solid var(--border-subtle);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-low);
    box-sizing: border-box;
    margin: 0.5rem 0 0.125rem 0;
    padding: 1rem;
    position: relative;
    width: 100%;
    max-width: 27rem;

    &:hover {
        .p-chattimeline-event-file-download {
            opacity: 1;
        }
    }
}
.p-chattimeline-event-file-download {
    color: var(--interactive-text-default);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.375rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    width: 2rem;
    height: 2rem;
    outline: 1px solid var(--background-base-lower);
    background-color: var(--background-base-low);
    border-radius: 0.3125rem;
    opacity: 0;
    overflow: hidden;
    z-index: 2;

    &:hover {
        background-color: var(--background-surface-higher);
        color: var(--interactive-text-hover);
    }
}

.p-chattimeline-event-image {
    display: block;
    width: fit-content;
    margin: 0.125rem 0;

    img {
        height: var(--image-target-height, auto);
        width: auto;
        max-height: 21.875rem;
        max-width: 100%;
        text-indent: -9999px;
        overflow: hidden;
        aspect-ratio: var(--image-aspect-ratio, auto);
        border-radius: 0.5rem;
        object-fit: cover;
        cursor: pointer;
    }
}

.p-chattimeline-event-video {
    display: block;
    width: fit-content;
    margin: 0.125rem 0;

    video, .p-chattimeline-video-placeholder {
        background: black;
        border: none;
        height: var(--video-target-height, auto);
        width: auto;
        max-height: 21.875rem;
        max-width: 100%;
        overflow: hidden;
        aspect-ratio: var(--video-aspect-ratio, auto);
        border-radius: 0.5rem;
        object-fit: cover;
        cursor: pointer;
    }
}

.p-chattimeline-event-image,
.p-chattimeline-event-video {
    &.p-chattimeline-spoiler {
        position: relative;
        overflow: hidden;
        border-radius: 0.5rem;

        &:not(.p-chattimeline-spoiler-visible) {
            min-width: 6rem;
            min-height: 2rem;
        }

        img, video {
            filter: blur(2.75rem);
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            z-index: 1;
        }
        &::after {
            content: 'Spoiler';
            background-color: color-mix(in oklab, var(--spoiler-hidden-background) 60%, rgba(0, 0, 0, 0.8));
            border-radius: 20px;
            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: .5px;
            text-transform: uppercase;
            align-items: center;
            color: var(--spoiler-hidden-color);
            display: flex;
            flex-direction: column;
            inset-inline-start: 50%;
            line-height: 1;
            padding: 0.5rem 0.75rem;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            user-select: none;
            z-index: 1;
        }

        &.p-chattimeline-spoiler-visible {
            img, video {
                filter: none !important;
            }
            &::before, &::after {
                display: none !important;
            }
        }
    }
}


.p-chattimeline-event-sticker {
    width: auto;
    height: 10rem;
    max-width: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    text-indent: -9999px;
}

.p-chattimeline-blob {
    display: inline-flex;
    background: var(--text-default);
    opacity: 0.06;
    width: 6rem;
    line-height: 1.375rem;
    height: 1rem;
    border-radius: 0.5rem;
}