:root {
    --p-datatable-border-color: var(--border-subtle);
    --p-datatable-border-radius: var(--radius-md);
    --p-datatable-padding-x: 1rem;

    --p-datatable-header-cell-padding: 0.5rem;
    --p-datatable-header-cell-background: var(--background-mod-muted);
    --p-datatable-header-cell-border-color: transparent;
    --p-datatable-header-cell-color: var(--text-default);
    --p-datatable-header-cell-gap: 0.5rem;

    --p-datatable-column-title-font-weight: 600;
    --p-datatable-column-title-font-size: 0.875rem;

    --p-datatable-row-background: transparent;
    --p-datatable-row-color: var(--text-default);

    --p-datatable-body-cell-border-color: var(--border-subtle);
    --p-datatable-body-cell-padding: 0.5rem;

    --p-datatable-transition-duration: 0.2s;
}

.p-datatable-table {
    border: 1px solid var(--p-datatable-border-color);
    border-radius: var(--p-datatable-border-radius);
}

.p-datatable-thead .p-datatable-header-cell {
    font-size: var(--p-datatable-column-title-font-size);
    border-bottom: 1px solid var(--p-datatable-border-color);

    &:first-child {
        border-top-left-radius: var(--p-datatable-border-radius);
        padding-left: var(--p-datatable-padding-x);
    }
    &:last-child {
        border-top-right-radius: var(--p-datatable-border-radius);
        padding-right: var(--p-datatable-padding-x);
    }
}

.p-datatable-tbody {
    > tr {
        > td:first-child {
            padding-left: var(--p-datatable-padding-x);
        }
        > td:last-child {
            padding-right: var(--p-datatable-padding-x);
        }
    }
}
.p-datatable-tbody > tr:last-child {
    --p-datatable-body-cell-border-color: transparent;
}