:root {
    --p-dialog-background: var(--background-surface-high);
    --p-dialog-border-color: var(--border-subtle);
    --p-dialog-border-radius: var(--radius-md);
    --p-dialog-color: var(--text-default);

    --p-dialog-header-padding: 1rem 2.5rem 0.5rem 1.5rem;
    --p-dialog-title-font-size: 1.25rem;
    --p-dialog-title-font-weight: 600;

    --p-dialog-content-padding: 0 1.5rem;

    --p-dialog-footer-padding: 1rem 1.5rem 0.5rem 1.5rem;
    --p-dialog-footer-gap: 0.5rem;
}

.p-dialog {
    padding: 0.5rem 0 1rem 0;
}
.p-dialog-title {
    color: var(--text-strong);
}
.p-dialog-close-button {
    --p-button-icon-only-width: 2.5rem;
    --p-button-text-secondary-color: var(--control-icon-only-icon-default);
    --p-button-text-secondary-hover-background: var(--control-icon-only-background-hover);
    --p-button-secondary-hover-border-color: var(--control-icon-only-border-hover);
    --p-icon-size: 1.25rem;

    position: absolute !important;
    top: 0.5rem !important;
    right: 0.5rem !important;

    .p-dialog-title {
        line-height: 1.5rem;
    }

    &.p-button-text.p-button-secondary:not(:disabled):hover {
        border-color: var(--control-icon-only-border-hover);
        color: var(--control-icon-only-icon-hover);
    }

    &.p-button-icon-only.p-button-rounded {
        border-radius: var(--radius-sm);
    }
}

.p-dialog-sidebar {
    background: var(--background-base-lower);
    width: 100%;
    max-width: 16rem;
    padding: 1rem 0 0 0.75rem;
}

.p-dialog-fullwidth {
    border-radius: 0 !important;
    max-width: none !important;
    max-height: none !important;
    width: 100dvw !important;
    height: 100dvh !important;
}

.p-dialog-lg-fullwidth {
    @media screen and (max-width: 1024px) {
        border-radius: 0 !important;
        max-width: none !important;
        max-height: none !important;
        width: 100dvw !important;
        height: 100dvh !important;
    }
}

.p-dialog-fullscreen-transparent {
    --p-dialog-border-radius: 0;
    --p-dialog-background: var(--background-scrim-lightbox);
    --p-dialog-border-color: transparent;

    border: none !important;
    padding: 0 !important;
    overflow: hidden !important;
    max-width: none !important;
    max-height: none !important;
    width: 100dvw !important;
    height: 100dvh !important;
}